/* Amy's CSS */

body {
    font-size: 100%;
    font-family: Helvetica, Arial, sans-serif;
    color: #222;
    background: #fafafa;
    margin: auto 8em;
    padding: 0;
}

#content {
	margin: 10px auto;
	text-align: left;
	width:800px;
	padding:10px;
	background:#fff;
	border:#ccc 1px solid;
} 

h1 {
	text-align: center;
}

#map {
	position: relative;
	border: 1px solid #ccc;
	width:100%;
	height:400px;
	top:10px;
}

div.quotation {
	font-weight:normal;
	background:#c5d3ed;
	width: 510px;
	border: medium rgb(200,200,200);
	padding:20px;
	padding-top:10px;
	padding-bottom:10px;
	font-size:13px;
}

.eventTitle {
	display:block;
	font-size:15px;
	cursor:pointer;
}

.eventTitle:hover {
	color:grey;
}

.referenceTypeClass {
	width:10em;
	display:block;
	font-size:14px;
	}

.referenceTitleClass {
	display:block;
	font-size:14px;
	color:#6495ED;
	cursor:pointer;
	}

p.referenceTitleClass:hover {
	cursor: pointer;
	color: gray;
}

.goodlink {
    text-decoration:none;
    color:green;
}

.badlink {
    text-decoration:line-through;
    color:red;
}
